parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        -
            message: '#Called ''env'' outside of the config directory#'
            path: config/*
        -
            identifier: property.defaultValue
            path: src/Filament/**

